<template>
    <div class="post" @click="onClick">
        <div class="post-title">
            <h1>{{ data.title }}</h1>
        </div>
        <div class="post-text-container">
            {{ data.body }}
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Router from 'vue-router';

type PostStruct = {
    _id: string;
    id: number;
    userId: number;
    title: string;
    body: string;
    something: number;
}

@Component
export default class Post extends Vue {
  @Prop() private data!: PostStruct;

  onClick (): void {
      this.$router.push({ name: 'post', params: { postid: this.data.id.toString(), title: this.data.title, body: this.data.body} })
  }
}
</script>

<style>
.post {
    padding: 10px 0px;
}

.post:hover {
    cursor: pointer;
}

</style>
