<template>
  <div id="app">
    <Banner />
    <li>
       <Post v-for="post in posts"
             v-bind:data="post"
             v-bind:key="post.id"/> 
    </li>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Banner from '../components/Banner.vue';
import Post from '../components/Posts/Post.vue';
import { getPosts } from '../components/Posts/posts';

@Component({
  components: {
    Banner,
    Post,
  },
})

export default class Home extends Vue {
    private posts: Array<string> = [];
    mounted() {
        getPosts().then(posts => {
            this.posts = posts;
        });
    }
}
</script>

<style>
body {
    margin: 0px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

li {
    margin: auto;
    width: 65%;
    list-style-type: none;
}
</style>
