<template>
    <div>
        <Banner />
        <div class="content" v-html="html">
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Banner from '../components/Banner.vue';
import hljs from 'highlight.js';
import 'highlight.js/styles/androidstudio.css';

@Component({
    components: {
        Banner,
    },
})
export default class PostPage extends Vue {
    private html = "";
    created(): void { 
        fetch("http://localhost:7878/markdown/" + this.$route.params.postid)
        .then(response => {
                return response.text()
            })
        .then(text => {
            this.html = text;
        });
    }

    updated(): void {
        // This is no doubt expensive, highlightjs has added a vue
        // plugin but has not built a new version yet. So wait 
        // for that then use Vue.use(hljs.vuePlugin); in main.ts
        document.querySelectorAll('pre code').forEach(block => {
            hljs.highlightBlock(block as HTMLElement);
        });
    }
}
</script>

<style>
.content {
    margin: auto;
    width: 70%;
}
</style>
