<template>
    <div class="banner">
        <div id="logo-container" @click="onClick">
            <h2>Andrew Kreuzer</h2>
        </div>
        <div class="source-links">
            <a href="https://gitlab.com/andrewkreuzer" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 586 559">
                <path d="m461.48 298.35l-17.78-54.63a7.72 7.72 0 0 0 -.43 -1.47l-35.67-109.8a14.18 14.18 0 0 0 -13.54 -9.67 13.94 13.94 0 0 0 -13.38 9.75l-34 104.63h-107.31l-34.05-104.63a13.94 13.94 0 0 0 -13.32 -9.75h-.08a14.22 14.22 0 0 0 -13.5 9.76l-35.7 109.93c0 .1-.08.18-.11.28l-18.1 55.61a20.29 20.29 0 0 0 7.37 22.71l156.38 113.63a8 8 0 0 0 9.45 -.05l156.41-113.58a20.28 20.28 0 0 0 7.36 -22.72m-233.75-45.13l43.59 134.16-104.64-134.16m148.05 134.19l41.8-128.62 1.8-5.57h61.1l-94.67 121.28m69.44-231.67l30.63 94.33h-61.31m-22.03 16l-30.37 93.46-18.12 55.66-48.42-149.12m-52.73-110.33l30.69 94.33h-61.27m-19.98 70.97a4.31 4.31 0 0 1 -1.56 -4.83l13.44-41.3 98.57 126.37m192.98-80.24l-110.46 80.21.37-.48 98.2-125.86 13.44 41.28a4.31 4.31 0 0 1 -1.55 4.84"/>
            </svg>
            </a>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Banner extends Vue {
    onClick (): void {
        this.$router.push('/');
    }
}
</script>


<style>

:root {
    --fill-color: #aab5c1;
    --hover-color: #2c3e50;
}

.banner {
    display: flex;
    justify-content: flex-start;
}

.banner #logo-container {
    margin: 0px;
}

.banner h2 {
    margin: 0px 10px 0px 0px;
    text-align: left;
    color: var(--fill-color);
}

.banner h2:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.banner .source-links {
    margin-left: auto;
}

svg {
    height: 40px;
    fill: var(--fill-color);
}

svg:hover {
    fill: var(--hover-color);
}

</style>
